
.image-size{
     width: 220px;
}

.bag-card{
    border: 0;
}
.bag-card-footer{
    background-color: white;
    border: 0;
}
h1{
    font-family: 'Bebas Neue', cursive;
    
}
.text-large{
    font-size: 200%;
}
h2{
    font-family: 'Bebas Neue', cursive;
}
h4{
    font-weight: 600;
}
h3{
    font-weight: 700;
}
h5{
    font-weight: 700;  
}
.color{
    color: #109959d9;
}
.bg-color{
    background-color:#f6cc4e33;
}
.border-radious{
    border-radius: 1em;
}
.footer{
    background-color: gray;
}